@import "../../styles/colors";
.sidebar__area--mobile {
  height: 100px;
  width: 100%;
  bottom: 0px;
  background: -moz-linear-gradient(180deg, transparent 0%, $primary 64%);
  background: -webkit-linear-gradient(180deg, transparent 0%, $primary 64%);
  background: linear-gradient(180deg, transparent 0%, $primary 64%);

  .sidebar__icon {
    width: 20%;
    height: fit-content;
    svg {
      color: white;
      width: 30px;
      height: 30px;
    }
  }
}

aside {
  font-size: 13px;
  z-index: 1;
  &#sidebar__area {
    height: calc(100vh - 100px);
    i {
      font-size: 25px;

      margin-right: 20px;
      color: white;
    }
    .menu__area {
      // height: 25%;
      .menu__single {
        color: white;
        font-size: 13px;
        a {
          text-decoration: none;
          color: inherit;
        }
      }
    }
    .menu__manage-area {
      // height: 25%;

      .manage__command-single {
        transition: color 0.3s;
        &:hover {
          color: white;
        }
      }
      i {
        font-size: 15px;
        line-height: 15px;
        text-align: center;
        padding: 5px;
        border-radius: 2px;
        &#create-playlist {
          background-color: rgb(255, 255, 255, 1);
          color: $secondary;
        }
        &#liked-songs {
          background: -moz-linear-gradient(
            346deg,
            rgb(255, 255, 255, 1) 0%,
            rgb(144, 70, 252, 1) 100%
          );
          background: -webkit-linear-gradient(
            346deg,
            rgb(255, 255, 255, 1) 0%,
            rgb(144, 70, 252, 1) 100%
          );
          background: linear-gradient(
            346deg,
            rgb(255, 255, 255, 1) 0%,
            rgb(144, 70, 252, 1) 100%
          );
        }
        &#saved-episodes {
          color: #12b038;
          background-color: #005e17;
        }
      }
    }
    .playlist__area {
      overflow-y: auto;
      .playlist__single {
        transition: color 0.2s;
        &:hover {
          color: white;
        }
      }
    }
  }
  &#friends__area {
    height: calc(100vh - 100px);
  }
}
